@font-face {
    font-family: 'daxcompact-blackblack';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcompb-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcompb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompb-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompb-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompb-webfont.svg#daxcompact-blackblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-blackexpertblack';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcombe-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcombe-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcombe-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcombe-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcombe-webfont.svg#daxcompact-blackexpertblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-boldbold';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomp1-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomp1-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomp1-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomp1-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomp1-webfont.svg#daxcompact-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-boldexpertbold';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomb1-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomb1-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomb1-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomb1-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomb1-webfont.svg#daxcompact-boldexpertbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-extraboldextrabold';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomeb-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomeb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomeb-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomeb-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomeb-webfont.svg#daxcompact-extraboldextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-extraboldexpertBd';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcoebe-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcoebe-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcoebe-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcoebe-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcoebe-webfont.svg#daxcompact-extraboldexpertBd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-lightlight';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcompl-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcompl-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompl-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompl-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompl-webfont.svg#daxcompact-lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-lightexpertlight';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomle-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomle-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomle-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomle-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomle-webfont.svg#daxcompact-lightexpertlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxcompact-mediummedium';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcompm-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcompm-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompm-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompm-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompm-webfont.svg#daxcompact-mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxcompact-mediumexpertmedium';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomme-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomme-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomme-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomme-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomme-webfont.svg#daxcompact-mediumexpertmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxcompact-regularregular';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcompr-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcompr-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompr-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompr-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcompr-webfont.svg#daxcompact-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxcompact-regularexpertRg';
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomre-webfont.eot');
    src: url('/wp-content/themes/fucking-awesome/fonts/daxcomre-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomre-webfont.woff') format('woff'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomre-webfont.ttf') format('truetype'),
         url('/wp-content/themes/fucking-awesome/fonts/daxcomre-webfont.svg#daxcompact-regularexpertRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:"halohandletterregular";
  src:url("/wp-content/themes/fucking-awesome/fonts/HaloHandletter.eot?") format("eot"),
      url("/wp-content/themes/fucking-awesome/fonts/HaloHandletter.woff") format("woff"),
      url("/wp-content/themes/fucking-awesome/fonts/HaloHandletter.ttf") format("truetype"),
      url("/wp-content/themes/fucking-awesome/fonts/HaloHandletter.svg#HaloHandletter") format("svg");
    font-weight:normal;font-style:normal;
  }

@font-face {
    font-family: 'gothic';
    src: url('/wp-content/themes/fucking-awesome/fonts/century-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
