@font-face {
    font-family: 'daxcompact-blackblack';
    src: url('fonts/daxcompb-webfont.eot');
    src: url('fonts/daxcompb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcompb-webfont.woff') format('woff'),
         url('fonts/daxcompb-webfont.ttf') format('truetype'),
         url('fonts/daxcompb-webfont.svg#daxcompact-blackblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-blackexpertblack';
    src: url('fonts/daxcombe-webfont.eot');
    src: url('fonts/daxcombe-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcombe-webfont.woff') format('woff'),
         url('fonts/daxcombe-webfont.ttf') format('truetype'),
         url('fonts/daxcombe-webfont.svg#daxcompact-blackexpertblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-boldbold';
    src: url('fonts/daxcomp1-webfont.eot');
    src: url('fonts/daxcomp1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcomp1-webfont.woff') format('woff'),
         url('fonts/daxcomp1-webfont.ttf') format('truetype'),
         url('fonts/daxcomp1-webfont.svg#daxcompact-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-boldexpertbold';
    src: url('fonts/daxcomb1-webfont.eot');
    src: url('fonts/daxcomb1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcomb1-webfont.woff') format('woff'),
         url('fonts/daxcomb1-webfont.ttf') format('truetype'),
         url('fonts/daxcomb1-webfont.svg#daxcompact-boldexpertbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-extraboldextrabold';
    src: url('fonts/daxcomeb-webfont.eot');
    src: url('fonts/daxcomeb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcomeb-webfont.woff') format('woff'),
         url('fonts/daxcomeb-webfont.ttf') format('truetype'),
         url('fonts/daxcomeb-webfont.svg#daxcompact-extraboldextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-extraboldexpertBd';
    src: url('fonts/daxcoebe-webfont.eot');
    src: url('fonts/daxcoebe-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcoebe-webfont.woff') format('woff'),
         url('fonts/daxcoebe-webfont.ttf') format('truetype'),
         url('fonts/daxcoebe-webfont.svg#daxcompact-extraboldexpertBd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-lightlight';
    src: url('fonts/daxcompl-webfont.eot');
    src: url('fonts/daxcompl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcompl-webfont.woff') format('woff'),
         url('fonts/daxcompl-webfont.ttf') format('truetype'),
         url('fonts/daxcompl-webfont.svg#daxcompact-lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daxcompact-lightexpertlight';
    src: url('fonts/daxcomle-webfont.eot');
    src: url('fonts/daxcomle-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcomle-webfont.woff') format('woff'),
         url('fonts/daxcomle-webfont.ttf') format('truetype'),
         url('fonts/daxcomle-webfont.svg#daxcompact-lightexpertlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxcompact-mediummedium';
    src: url('fonts/daxcompm-webfont.eot');
    src: url('fonts/daxcompm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcompm-webfont.woff') format('woff'),
         url('fonts/daxcompm-webfont.ttf') format('truetype'),
         url('fonts/daxcompm-webfont.svg#daxcompact-mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxcompact-mediumexpertmedium';
    src: url('fonts/daxcomme-webfont.eot');
    src: url('fonts/daxcomme-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcomme-webfont.woff') format('woff'),
         url('fonts/daxcomme-webfont.ttf') format('truetype'),
         url('fonts/daxcomme-webfont.svg#daxcompact-mediumexpertmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxcompact-regularregular';
    src: url('fonts/daxcompr-webfont.eot');
    src: url('fonts/daxcompr-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcompr-webfont.woff') format('woff'),
         url('fonts/daxcompr-webfont.ttf') format('truetype'),
         url('fonts/daxcompr-webfont.svg#daxcompact-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxcompact-regularexpertRg';
    src: url('fonts/daxcomre-webfont.eot');
    src: url('fonts/daxcomre-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/daxcomre-webfont.woff') format('woff'),
         url('fonts/daxcomre-webfont.ttf') format('truetype'),
         url('fonts/daxcomre-webfont.svg#daxcompact-regularexpertRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'halohandletterregular';
    src: url('fonts/halohandletter-webfont.eot');
    src: url('fonts/halohandletter-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/halohandletter-webfont.woff') format('woff'),
         url('fonts/halohandletter-webfont.ttf') format('truetype'),
         url('fonts/halohandletter-webfont.svg#halohandletterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}