@import url("css/font-face.css");

* {
   margin:0;
   padding:0;
}
body {
  background: url('images/bg-site.png') fixed;
  font-family: 'gothic';
  font-size: 13px;
}
header{
  height: 196px;
  position: relative;
}
footer {
  position: relative;
  background-color: rgba(243,207,120,0.3);
  height: 250px;
  clear:both;
}
a{
  text-decoration:none;
  color: #703f5a;
}
article{
  text-align: left;
  width: 661px;
  float: left;
  line-height: 20px;
  display: block;
  margin: 0 39px 0 20px;
}
aside {
  float: left;
  width: 255px;
}
aside h3 {
  padding: 0;
  margin: 10px 0 0 0;
}
div address{
  display: inline-block;
  margin-top: 20px;
}
.wp-biographia-widget{
  font-size: 12px !important;
}
.container{
  margin: 0 auto;
  width: 998px;
}
#logo{
  background: url("images/logo.png") no-repeat;
  height: 305px;
  width: 600px;
  position: absolute;
  top: 0;
  left: -70px;
}

#main {
  background-color: rgba(254,254,254,0.5) ;
  overflow: hidden;
  padding-top: 100px;
  box-shadow: 3px 3px 3px rgba(172,170,163,1);
  padding-bottom: 25px;
  margin-bottom: 100px;
}
#links{
  width: 661px;
}
#new_posts{
  background: url('images/new_posts.png') no-repeat right center;
  float: right;
}
div#links a{
  color: #6e4b3a !important;
  font-family: 'halohandletterregular';
  font-size: 40px;
  line-height: 1.7;
  padding: 0 41px 0;
}
#old_posts{
  float: left;
  background: url('images/old_posts.png') no-repeat;
}
.postWrapper{
  margin-left: 75px;
}
ol{
  list-style: none;
}
ul{
  list-style: none;
}
li.postWrapper,
div.postWrapper { }

.postWrapper img {
  max-width: 600px;
}

div.post {
  margin-top: 12px;
}

p.postMeta { }

#pagination {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#pagination li {
  display: inlne;
}
#pagination .previous {
  text-align: left;
  float: left;
}
#pagination .future {
  text-align: right;
  float: right;
}
#secondaryContent > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#secondaryContent > ul > li {
  margin: 0 0 10px 0;
}
.widget_tag_cloud a {
  padding-left: 5px;
}
#comment {
  width: 500px;
}
#access {
  float: right;
  margin: 155px 0 0;
}
.attachment #access {
  background: url("images/bg-menu-1col.png") no-repeat;
  width: 1000px;
}
#access ul {
  font: 20px 'daxcompact-lightlight', "Times New Roman", serif;
  list-style: none;
  margin: 20px 0 0 15px;
}
#access li {
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
#access a {
  color: #6e4b3a;
  display: block;
  padding: 0 0 5px 0;
  text-decoration: none;
  text-align: center;
  min-width: 100px;
}
#access a:before{
  content: "" ;
  background: url("images/hashtag_menu.png") no-repeat;
  display: inline-block;
  height: 25px;
  width: 16px;
}
#access ul ul a:before{
  display: none;
}
#access ul ul {
  display: none;
  float: left;
  position: absolute;
  top: 16px;
  left: 0;
  margin-left: -25px;
  z-index: 99998;
  -webkit-transform: none;
  -moz-transform: none;
  min-width: 180px;
}
#access ul ul ul {
  left: 100%;
  top: 0;
}
#access ul ul a {
  background: #e8e0c8;
  border: 1px solid #dfce8c;
  color: #000;
  line-height: 1;
  margin: 0;
  padding: 15px;
  min-width: 180px;
  height: auto;
}
#access li:hover > a {
  background: url("images/menu-selected.png") no-repeat center bottom;
}
#access ul ul li:hover > a {
  color: #d8471d;
  background-position: 0 0;
}
#access ul ul a:hover {
  background: #d4cfc6;
}
#access ul li:hover > ul {
  display: block;
}
#access .current_page_item a {
  color: #d8471d;
}
#access li.current_page_item ul ul li a,
#access li.current_page_item ul li a  {
  background: #e8e0c8;
}
.postTitle{
  padding-bottom: 14px;
}
.postTitle a{
  font-family: 'halohandletterregular';
  font-size: 250%;
  font-weight:normal;
  color: #00595a;
}
.qtd_comments{
  display: block;
  text-align: center;
  margin-top: 2px;
}
.icon_comments{
  background: url("images/balaozinho.png") no-repeat top center;
  background-position: -10px -27px;
  float: right;
  margin-top: -20px;
  color: #00595a;
  font-family: 'daxcompact-extraboldextrabold';
  font-size: 15px;
  width: 50px;
  height: 64px;
}
hr{
  margin-bottom: 35px;
  color: #eae2cc;
  background-color: #eae2cc;
  height: 2px;
  border: 0;
}
.titleMeta{
  color: #f4a481;
  width: 93px;
}
.author{
  color: #f4a481;}
.titleMeta a{
  color: #f4a481;
}
.post_date{
  background: url("images/post_date.png") no-repeat;
  height: 65px;
  width: 77px;
  float: left;
  margin: -20px 0 0 -10px;
  padding-top: 14px;
  text-align: center;
}
.year{
  font-family: 'daxcompact-lightlight';
  color: #dccda7;
  display: block;
  /*padding-left: 21px;*/
}
.month{
  font-family: 'daxcompact-lightlight';
  /*padding-left: 18px;*/
  text-transform: uppercase;
  color: #00595a;
}
.day{
  color: #00595a;
  font-family: 'daxcompact-extraboldextrabold';
}
#comments{
  font-family: 'daxcompact-boldbold';
  padding-bottom: 5px;
  color: #00595a;
}
.comment_image{
  float: left;
}
.comment_text{
  width: 561px;
  border: 2px solid #eae2cc;
  background-color: #fff;
  /*min-height: 146px;*/
  margin: 0 0 10px 96px;
  color: #00595a;
}
#submit{
  font-family: 'halohandletterregular';
  font-size: 300%;
  border: 0;
  background: none;
  color: #00595a;
  margin-left: 280px;
  width: 100px;
  background: url("images/menu-selected.png") no-repeat center bottom;
  line-height: 0.7em;
}
#submit:hover{
  color: #d8471d;
}
form#commentform label small{
  color: #f4a481;
}
form#commentform textarea{
  border: 2px solid #00595a;
  background-color: #f0eade;
  height: 120px;
  width: 320px;
  margin-top: 22px;
  float: left;
}
form#commentform p input[type='text']{
  border: 2px solid #00595a;
  background-color: #f0eade;
  height: 23px;
  width: 280px;
}
#postcomment{
  font-family: 'daxcompact-extraboldextrabold';
  color: #6e3541;
}
.field_comment{
  float: right;
}
.comment{
  overflow: hidden;
}
.ops{
  font-family: 'halohandletterregular';
  font-size: 350%;
  color: #00595a;
  margin-bottom: 17px;
}
.not_found{
  color: #00595a;
  font-family: 'daxcompact-extraboldextrabold';
}
label.screen-reader-text {
  display: none;
}
.widget-title{
  color: #00595a;
  font-family: 'daxcompact-boldbold';
  margin-top: 25px;
}
aside hr{
  margin-bottom: 5px;
}
form#search-form input[type='search']{
 border: 0px ;
 background: none;
 line-height: 30px;
 width: 180px;
}
form#search-form input[type='submit']{
  background: url("images/lupa-buscar.png") no-repeat bottom;
  width: 25px;
  height: 20px;
  border: 0;
  vertical-align: text-top;
}
::-webkit-input-placeholder {   color: #00595a;
  font-family: 'daxcompact-boldbold';
  font-size: 20px;
}
::-moz-placeholder {
  color: #00595a;
  font-family: 'daxcompact-boldbold';
  font-size: 20px;
  } /* firefox 19+ */
:-ms-input-placeholder {
  color: #00595a;
  font-family: 'daxcompact-boldbold';
  font-size: 20px;
  } /* ie */
input:-moz-placeholder {
  color: #00595a;
  font-family: 'daxcompact-boldbold';
  font-size: 20px;
}
.twitter{
  background: url("images/twitter.png") no-repeat;
  float: left;
  width: 85px;
  height: 79px;
  margin-top: -8px;
}
.facebook{
  background: url("images/facebook.png") no-repeat;
  float: left;
  width: 85px;
  height: 79px;
}
.feed{
  background: url("images/feed.png") no-repeat;
  float: left;
    width: 85px;
  height: 79px;
}
/* contact form */
.contact{
  margin-top: 25px;
}
.wpcf7-validation-errors{
  display: none;
}
.wpcf7-submit{
  font-family: 'halohandletterregular';
  font-size: 300%;
  border: 0;
  background: none;
  color: #00595a;
  margin-left: 245px;
  width: 100px;
  background: url("images/menu-selected.png") no-repeat center bottom;
  line-height: 0.7em;
}
