@import url("css/font-face.css");

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   background: url('images/background.png');
   min-height:100%;
   position:relative;
}
#logo{
  background: url("images/logo.png") no-repeat;
  float: left;
  height: 305px;
  width: 600px;
  display: block;
  margin-left: 67px;
}
#header{
  padding: 10px;
}
#main {
  background: url('images/bg_content.png') ;
  margin-top: 202px;
  margin-left: 150px;
  margin-bottom: 100px;
  width: 1050px;
  min-height: 700px;
  height: auto !important;        /* for IE as it does not support min-height */
  height: 700px;                   /* for IE as it does not support min-height */
}
#footer {
  position: relative;
  background: url('images/bg_footer.png');
  height: auto;
  clear:both;
} 
#content{
  text-align: left;
  width: 600px;
  float: left;
  line-height: 20px;
  display: block;
  margin-left: 100px;
}
#links{
  width: 600px;
  margin: 0 auto;
}
#new_posts{
  background: url('images/new_posts.png') no-repeat; 
  font-family: 'halohandletterregular';
  text-decoration: none;
  color: #6e4b3a;
  font-size: 40px;
  line-height: 1.7;
  float: right;
  padding: 0 41px 0;
}
#old_posts{
  float: left;
  background: url('images/old_posts.png') no-repeat; 
  font-family: 'halohandletterregular';
  text-decoration: none;
  color: #6e4b3a;
  font-size: 40px;
  line-height: 1.7;
  padding: 0 41px 0;
}
#sidebar {
  /*width: 200px;
  float: right;*/
  float: left;
  width: 300px;
}
#sidebar h3 {
  padding: 0;
  margin: 10px 0 0 0;
}
#contact-form{}

ol#posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

  li.postWrapper,
  div.postWrapper { }

    .postWrapper img { }

    div.post { }

    p.postMeta { }

#pagination {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
  #pagination li {
    display: inlne;
  }
  #pagination .previous {
    text-align: left;
    float: left;
  }
  #pagination .future {
    text-align: right;
    float: right;
  }

/**       sidebar          */

  /**
    Remove bullets from the first level sidebar UL and give each item some bottom margin.
    IE 6 doesn't like the selectors, I can live with that but if you can't then
    you'll need to extend this further.
  */
  #secondaryContent > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
    #secondaryContent > ul > li {
      margin: 0 0 10px 0;
    }

  /** the HTML is a bit dodgy for the tag cloud, need to add some padding
      between the title and the first href */
  .widget_tag_cloud a {
    padding-left: 5px;
  }

#comment {
  width: 500px;
}


/** normally hidden but will appear when css disabled */
.skip,
.noCss {
  position: absolute;
  left: -9999px;
}

/**
  theme requirements as per
  http://codex.wordpress.org/CSS
*/
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

/* =Main Navigation
-------------------------------------------------------------- */

#access {
  display: block;
  float: right;
  min-height: 88px;
  margin: 160px 99px 0 0;
  padding: 0;
}
.attachment #access {
  background: url("images/bg-menu-1col.png") no-repeat;
  width: 1000px;
}
#access ul {
  font: 20px 'daxcompact-lightlight', "Times New Roman", serif;
  list-style: none;
  margin: 20px 0 0 15px;
}
#access li {
  float: right;
  position: relative;
  padding-right: 35px;
  background: url("images/hashtag_menu.png") no-repeat;
}
#access a {
  color: #6e4b3a;
  display: block;
  line-height: 3;
  padding: 0 13px 5px;
  text-decoration: none;
  margin-top: -16px;
}
#access ul ul {
  display: none;
  float: left;
  position: absolute;
  top: 16px;
  left: 0;
  margin-left: -25px;
  z-index: 99998;
  -webkit-transform: none;
  -moz-transform: none;
  min-width: 180px;
}
#access ul ul ul {
  left: 100%;
  top: 0;
}
#access ul ul a {
  background: #e8e0c8;
  border: 1px solid #dfce8c;
  color: #000;
  line-height: 1;
  margin: 0;
  padding: 15px;
  min-width: 180px;
  height: auto;
}
#access li:hover > a {
  background: url("images/menu-selected.png") no-repeat;
  background-position: 0 .6em;
}
#access ul ul li:hover > a {
  color: #d8471d;
  background-position: 0 0;
}
#access ul ul a:hover {
  background: #d4cfc6;
}
#access ul li:hover > ul {
  display: block;
}
#access .current_page_item a {
  color: #d8471d;
}
#access li.current_page_item ul ul li a,
#access li.current_page_item ul li a  {
  background: #e8e0c8;
}
#site-title0{    font-family: 'daxcompact-blackblack';}
#site-title1{    font-family: 'daxcompact-blackexpertblack';}
#site-title2{    font-family: 'daxcompact-boldbold';}
#site-title3{    font-family: 'daxcompact-boldexpertbold';}
#site-title4{    font-family: 'daxcompact-extraboldextrabold';}
#site-title5{    font-family: 'daxcompact-extraboldexpertBd';}
#site-title6{    font-family: 'daxcompact-lightlight';}
#site-title7{    font-family: 'daxcompact-lightexpertlight';}
#site-title8{    font-family: 'daxcompact-mediummedium';}
#site-title9{    font-family: 'daxcompact-mediumexpertmedium';}
#site-title10{    font-family: 'daxcompact-regularregular';}
#site-title11{    font-family: 'daxcompact-regularexpertRg';}
#site-title12{    font-family: 'halohandletterregular';}
