@import url("css/font-face.css");

* {
   margin:0;
   padding:0;
}
body {
   background: url('images/bg-site.png');
}
.container{
  margin: 0 auto;
  width: 998px;
}
#header{
  height: 196px;
  position: relative;
}
#logo{
  background: url("images/logo.png") no-repeat;
  height: 305px;
  width: 600px;
  position: absolute;
  top: 0;
  left: -70px;

}

#main {
  background-color: rgba(254,254,254,0.5) ;
  overflow: hidden;
  padding-top: 100px;
  box-shadow: 3px 3px 3px rgba(172,170,163,1);
  padding-bottom: 25px;
}
#footer {
  position: relative;
  background-color: rgba(243,207,120,0.3);
  height: auto;
  clear:both;
} 
#content{
  text-align: left;
  width: 600px;
  float: left;
  line-height: 20px;
  display: block;
  margin: 0 20px;
}
#links.container{
  width: 958px;
}
#new_posts{
  background: url('images/new_posts.png') no-repeat right center; 
  font-family: 'halohandletterregular';
  text-decoration: none;
  color: #6e4b3a;
  font-size: 40px;
  line-height: 1.7;
  float: right;
  padding: 0 41px 0;
}
#old_posts{
  float: left;
  background: url('images/old_posts.png') no-repeat; 
  font-family: 'halohandletterregular';
  text-decoration: none;
  color: #6e4b3a;
  font-size: 40px;
  line-height: 1.7;
  padding: 0 41px 0;
}
#sidebar {
  /*width: 200px;
  float: right;*/
  float: left;
  width: 300px;
}
#sidebar h3 {
  padding: 0;
  margin: 10px 0 0 0;
}
#contact-form{}
.postWrapper{ margin-left: 75px;}
ol#posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.postWrapper,
div.postWrapper { }

.postWrapper img { }

div.post { }

p.postMeta { }

#pagination {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#pagination li {
  display: inlne;
}
#pagination .previous {
  text-align: left;
  float: left;
}
#pagination .future {
  text-align: right;
  float: right;
}
#secondaryContent > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#secondaryContent > ul > li {
  margin: 0 0 10px 0;
}
.widget_tag_cloud a {
  padding-left: 5px;
}
#comment {
  width: 500px;
}
.skip,
.noCss {
  position: absolute;
  left: -9999px;
}
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.alignleft {
   float: left;
}
.alignright {
   float: right;
}
/* =Main Navigation
-------------------------------------------------------------- */
#access {
  float: right;
  margin: 155px 0 0;
}
.attachment #access {
  background: url("images/bg-menu-1col.png") no-repeat;
  width: 1000px;
}
#access ul {
  font: 20px 'daxcompact-lightlight', "Times New Roman", serif;
  list-style: none;
  margin: 20px 0 0 15px;
}
#access li {
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
#access a {
  color: #6e4b3a;
  display: block;
  padding: 0 0 5px 0;
  text-decoration: none;
  text-align: center;
  min-width: 100px;
}
#access a:before{
  content: "" ;
  background: url("images/hashtag_menu.png") no-repeat;
  display: inline-block;
  height: 25px;
  width: 16px;
}
#access ul ul a:before{
  display: none;
}
#access ul ul {
  display: none;
  float: left;
  position: absolute;
  top: 16px;
  left: 0;
  margin-left: -25px;
  z-index: 99998;
  -webkit-transform: none;
  -moz-transform: none;
  min-width: 180px;
}
#access ul ul ul {
  left: 100%;
  top: 0;
}
#access ul ul a {
  background: #e8e0c8;
  border: 1px solid #dfce8c;
  color: #000;
  line-height: 1;
  margin: 0;
  padding: 15px;
  min-width: 180px;
  height: auto;
}
#access li:hover > a {
  background: url("images/menu-selected.png") no-repeat center bottom;
}
#access ul ul li:hover > a {
  color: #d8471d;
  background-position: 0 0;
}
#access ul ul a:hover {
  background: #d4cfc6;
}
#access ul li:hover > ul {
  display: block;
}
#access .current_page_item a {
  color: #d8471d;
}
#access li.current_page_item ul ul li a,
#access li.current_page_item ul li a  {
  background: #e8e0c8;
}
#site-title0{    font-family: 'daxcompact-blackblack';}
#site-title1{    font-family: 'daxcompact-blackexpertblack';}
#site-title2{    font-family: 'daxcompact-boldbold';}
#site-title3{    font-family: 'daxcompact-boldexpertbold';}
#site-title4{    font-family: 'daxcompact-extraboldextrabold';}
#site-title5{    font-family: 'daxcompact-extraboldexpertBd';}
#site-title6{    font-family: 'daxcompact-lightlight';}
#site-title7{    font-family: 'daxcompact-lightexpertlight';}
#site-title8{    font-family: 'daxcompact-mediummedium';}
#site-title9{    font-family: 'daxcompact-mediumexpertmedium';}
#site-title10{    font-family: 'daxcompact-regularregular';}
#site-title11{    font-family: 'daxcompact-regularexpertRg';}
#site-title12{    font-family: 'halohandletterregular';}
